{% extends "lizard_ui/lizardbase.html" %}

{% comment %}
Collage screen with statistics for LayerCollage objects.
{% endcomment %}

{% block logo %}
{% endblock %}

{% block sidebar %}
Sidebar
{{ view.collage }}
<ul>
{% for collage_item in view.collage.layercollageitem_set.all %}
<li>{{ collage_item.name }}</li>
{% endfor %}
</ul>
{% endblock %}

{% block content %}
<div style="overflow-y: auto; height: 100%;"> {% comment %}Make it scrollable.{% endcomment %}

<h2>{{ view.collage.name }}</h2>

<div>
<ul>
  {% ifnotequal view.collage.summer_or_winter 1 %}
  <li>
    {% ifequal view.collage.summer_or_winter 2 %}
    'Alleen zomer (1 april - 1 oktober)'
    {% else %}
    'Alleen winter (1 oktober - 1 april)'
    {% endifequal %}
  </li>
  {% endifnotequal %}
  {% if view.collage.restrict_to_month %}
  <li>
    Maand: {{ view.collage.restrict_to_month }}
  </li>
  {% endif %}
  {% if view.collage.day_of_week %}
  <li>
    Dag van de week: {{ view.collage.day_of_week }}
  </li>
  {% endif %}
  {% ifnotequal view.collage.day_or_night 1 %}
  <li>
    {% ifequal view.collage.day_or_night 2 %}
    'Alleen dag (6:00-0:00)'
    {% else %}
    'Alleen nacht (0:00-6:00)'
    {% endifequal %}
  </li>
  {% endifnotequal %}
</ul>
</div>

<div>
<table class="generic-table">
  <thead>
    <th>Locatie</th>
    <th>Min</th>
    <th>Max</th>
    <th>Gemiddeld</th>
    <th>Som</th>
    <th>Aantal onder (grenswaarde)</th>
    <th>Aantal boven (grenswaarde)</th>
    <th>Percentiel mediaan</th>
    <th>Percentiel 90</th>
    <th>Percentiel gebruiker</th>
  </thead>
  <tbody>
    {% for stat_row in view.collage_stats %}
    <tr>
      <td>{{ stat_row.name }}</td>
      <td>{{ stat_row.standard.min|default_if_none:'-' }}</td>
      <td>{{ stat_row.standard.max|default_if_none:'-' }}</td>
      <td>{{ stat_row.standard.avg|default_if_none:'-' }}</td>
      <td>{{ stat_row.standard.sum|default_if_none:'-' }}</td>
      <td>{{ stat_row.boundary.amount_less_equal|default_if_none:'-' }} ({{ stat_row.boundary.value|default_if_none:'-' }})</td>
      <td>{{ stat_row.boundary.amount_greater|default_if_none:'-' }} ({{ stat_row.boundary.value|default_if_none:'-' }})</td>
      <td>{{ stat_row.percentile.median|default_if_none:'-' }}</td>
      <td>{{ stat_row.percentile.90|default_if_none:'-' }}</td>
      <td>{{ stat_row.percentile.user|default_if_none:'-' }} ({{ stat_row.percentile.value|default_if_none:'-' }})</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>

{% for collage_item in view.collage.layercollageitem_set.all %}
<div class="collage-graph">
  {% if collage_item.graph_url %}
  <div>
    {{ collage_item.name }}
  </div>
  <div style="height: 200px; width: 100%;"
       class="img-use-my-width img-use-my-size">
    <a href="{{ collage_item.graph_url }}" class="replace-with-image">Graph</a>
  </div>
  {% endif %}
</div>
{% endfor %}

</div>

<script type="text/javascript">var scrollbarWidth = function() {return 0;}</script>
{% endblock %}
