{% extends "lizard_map/lizardgis.html" %}

{% comment %}
Collage screen with statistics for LayerCollage objects.
{% endcomment %}

{% block logo %}
{% endblock %}

{% block title %}
Collage {{ view.collage.name }}
{% endblock title %}

{% block sidebar %}
Sidebar
{{ view.collage }}
<ul>
{% for collage_item in view.collage.layercollageitem_set.all %}
<li>{{ collage_item.name }}</li>
{% endfor %}
</ul>
{% endblock %}

{% block above-content %}
  <a href="{% url lizard_map_date_range %}?reload_screen_after="
     id="date-range"
     title='Van {{ view.date_start_period|date:"d-m-Y" }} t/m {{ view.date_end_period|date:"d-m-Y" }}'
     class="title datepicker-icon action-icon ajax-dialog-onchange reload-after-submit"
     data-replace-items="date-range"
     data-size="s"
     rel="tipsy-south">&nbsp;</a>
  {{ block.super }} {# Nothing yet #}
{% endblock %}

{% block content %}
{# Popups: invisible #}
<div id="dialog">
  <div id="dialog-content">
  </div>
</div>
<div id="textual">{% comment %}Make it scrollable.{% endcomment %}

<h2>Collage {{ view.collage.name }}</h2>

<div>
<ul>
  <li>Periode: {{ view.date_start_period }} - {{ view.date_end_period }} </li>
  {% ifnotequal view.collage.summer_or_winter 1 %}
  <li>
    {% ifequal view.collage.summer_or_winter 2 %}
    Alleen zomer (1 april - 1 oktober)
    {% else %}
    Alleen winter (1 oktober - 1 april)
    {% endifequal %}
  </li>
  {% endifnotequal %}
  {% if view.collage.restrict_to_month %}
  <li>
    Maand: {{ view.collage.restrict_to_month }}
  </li>
  {% endif %}
  {% if view.collage.day_of_week %}
  <li>
    Dag van de week: {{ view.collage.day_of_week }}
  </li>
  {% endif %}
  {% ifnotequal view.collage.day_or_night 1 %}
  <li>
    {% ifequal view.collage.day_or_night 2 %}
    Alleen dag (6:00-0:00)
    {% else %}
    Alleen nacht (0:00-6:00)
    {% endifequal %}
  </li>
  {% endifnotequal %}
  <li><a href="{% url lizard_workspace_collage_box collage_slug=view.collage.secret_slug %}" class="ajax-dialog">
  bewerk periode eigenschappen</a></li>
  <li><a href="./?format=csv">download statistieken in csv</a></li>
</ul>
</div>

<div>
<table class="generic-table">
  <thead>
    <th>Locatie</th>
    <th>Aantal waardes</th>
    <th>Min</th>
    <th>Max</th>
    <th>Gemiddeld</th>
    <th>Som</th>
    <th>Aantal onder (grenswaarde)</th>
    <th>Aantal boven (grenswaarde)</th>
    <th>Percentiel mediaan</th>
    <th>Percentiel 90</th>
    <th>Percentiel gebruiker</th>
    <th>Bewerken</th>
  </thead>
  <tbody>
    {% for stat_row in view.collage_stats %}
    <tr>
      <td>{{ stat_row.name }}</td>
      <td>{{ stat_row.item_count|default_if_none:'-' }}</td>
      <td>{{ stat_row.standard.min.1.0|default_if_none:'-' }} ({{ stat_row.standard.min.0 }})</td>
      <td>{{ stat_row.standard.max.1.0|default_if_none:'-' }} ({{ stat_row.standard.max.0 }})</td>
      <td>{{ stat_row.standard.avg|default_if_none:'-' }}</td>
      <td>{{ stat_row.standard.sum|default_if_none:'-' }}</td>
      <td>{{ stat_row.boundary.amount_less_equal|default_if_none:'-' }} ({{ stat_row.boundary.value|default_if_none:'-' }})</td>
      <td>{{ stat_row.boundary.amount_greater|default_if_none:'-' }} ({{ stat_row.boundary.value|default_if_none:'-' }})</td>
      <td>{{ stat_row.percentile.median|default_if_none:'-' }}</td>
      <td>{{ stat_row.percentile.90|default_if_none:'-' }}</td>
      <td>{{ stat_row.percentile.user|default_if_none:'-' }} ({{ stat_row.percentile.value|default_if_none:'-' }})</td>
      <td><a href="{% url lizard_workspace_collage_item_view collage_item_id=stat_row.id %}" class="ajax-dialog">bewerk</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>

{% for item in view.graphs_by_grouping_hint %}
<div class="collage-graph">
  {% if item.graph_url %}
  <div>
    {{ item.name }}
  </div>
  <div style="height: 200px; width: 100%;"
       class="img-use-my-width img-use-my-size">
    <a href="{{ item.graph_url }}{{ view.date_range_url_params }}" class="replace-with-image">Graph</a>
  </div>
  {% endif %}
</div>
{% endfor %}

</div>

<script type="text/javascript">var scrollbarWidth = function() {return 0;}</script>
{% endblock %}
